*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 
}

header{
	position: relative;
	margin:20px auto;
	width: 1000px;
	height: 120px;
	background: #ffffff6b;
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
	line-height: 55px;
}

#logo{
	position: absolute;
	top: 10px;
	left: 10px;
	width: 120px;
	height: 100px;
}

.redes{
	position: absolute;
	width: 42px;
	height: 42px;
	background: #f7f7f7;
	border-radius: 100%;
}

#icono1{
	top: 42px;
	right: 122px;
}

#icono2{
	top: 42px;
	right: 71px;
}

#icono3{
	top: 42px;
	right: 19px;
}

nav{
	position: relative;
	margin: auto;
	width: 1000px;
	height: 48px;
}

.botones{
	float: left;
	width: 196px;
	margin: 0px 2px;
	height: 48px;
	background: #607d8b;
	font-family: 'Fredoka One', cursive;
	font-size: 20px;
	text-align: center;
	line-height: 48px;
	color: #e8af02;
}

#top{
	position: relative;
	margin:20px auto;
	width: 1000px;
	height: 192px;
}

#top ul{
	width: 1010px;
	height: 192px;
}

#top ul li{
	float: left;
	width: 326px;
	height: 192px;
	background: black;
	margin-right: 10px;
}

section{
	position: relative;
	margin:auto;
	width: 1000px;
	height: 453px;
}

aside#izq{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 453px;
	background: #ff9800bf;
}

article{
	position: absolute;
	left: 200px;
	top: 0;
	width: 600px;
	height: 453px;
	background: #fdfdfdc7;
	text-align: center;
}

article img{
	border-radius: 100%;
	height: 250px;
}

aside#der{
	position: absolute;
	top: 0px;
	right: 0;
	width: 200px;
	height: 453px;
	background: #ff9800bf;
}

footer{
	position: relative;
	margin:20px auto;
	width: 1000px;
	height: 70px;
	background: #888;
	line-height: 35px;
}


body{
	background: #033663;
}
